* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10_107 {
  width: 360px;
  height: 640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_108 {
  width: 319px;
  height: 562px;
  background: rgba(255,215,215,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 20px;
  border: 4px solid rgba(255,255,255,1);
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  overflow: hidden;
}
.v10_109 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 99px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v10_110 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 194px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v10_125 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 284px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_128 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_129 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v10_111 {
  width: 281px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v10_112 {
  width: 281px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v10_126 {
  width: 281px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_131 {
  width: 80px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_141 {
  width: 130px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 473px;
  left: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_142 {
  width: 130px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 473px;
  left: 189px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_133 {
  width: 80px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 140px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_134 {
  width: 80px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 239px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v10_117 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 116px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10_118 {
  width: 268px;
  height: 64px;
  background: rgba(255,228,135,1);
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 45px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v10_119 {
  width: 154px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 536px;
  left: 58px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_120 {
  width: 83px;
  height: 47px;
  background: url("../images/v10_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 222px;
  overflow: hidden;
}
.v10_121 {
  width: 83px;
  height: 47px;
  background: rgba(238,67,67,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v10_122 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 12px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_123 {
  width: 95px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 144px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v10_124 {
  width: 96px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 239px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v10_127 {
  width: 83px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 328px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_143 {
  width: 46px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 480px;
  left: 59px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_144 {
  width: 32px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 480px;
  left: 212px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_135 {
  width: 19px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 414px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_138 {
  width: 8px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 417px;
  left: 106px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_139 {
  width: 8px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 417px;
  left: 212px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_140 {
  width: 8px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 417px;
  left: 312px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_136 {
  width: 24px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 414px;
  left: 161px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_137 {
  width: 23px;
  color: rgba(139,139,139,1);
  position: absolute;
  top: 414px;
  left: 262px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_145 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 134px;
  border-radius: 50%;
}
.v12_146 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 292px;
  border-radius: 50%;
}
