* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_78 {
  width: 360px;
  height: 640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_35 {
  width: 360px;
  height: 176px;
  background: url("../images/v20_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_34 {
  width: 360px;
  height: 467px;
  background: rgba(255,215,215,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v20_60 {
  width: 30px;
  height: 30px;
  background: rgba(255,228,135,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 96px;
  border-radius: 50%;
}
.v20_59 {
  width: 30px;
  height: 30px;
  background: rgba(238,67,67,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 76px;
  border-radius: 50%;
}
.v20_36 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 70px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_56 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 452px;
  left: 47px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v20_71 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 452px;
  left: 213px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v20_72 {
  width: 136px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 483px;
  left: 203px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v20_46 {
  width: 121px;
  height: 27px;
  background: url("../images/v20_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 119px;
  overflow: hidden;
}
.v20_38 {
  width: 121px;
  height: 27px;
  background: rgba(238,67,67,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v20_39 {
  width: 37px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v20_44 {
  width: 360px;
  height: 119px;
  background: url("../images/v20_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 569px;
  left: 0px;
  overflow: hidden;
}
.v19_86 {
  width: 360px;
  height: 119px;
  background: rgba(238,67,67,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v20_47 {
  width: 321px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 221px;
  left: 19px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: justified;
}
.v20_58 {
  width: 30px;
  height: 30px;
  background: rgba(139,139,139,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 55px;
  border-radius: 50%;
}
.v20_57 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 32px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
